html, body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Calibri Light';
}
.background-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.background-slider .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .4s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.background-slider .background img {
  display: none;
}
.background-slider .background.active {
  opacity: 1;
}

.content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 70px;
  z-index: 12;
}
.header .header-wrapper {
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
  color: #fff;
  border-bottom: 2px solid;
}
.header .logo {
  display: inline-block;
  line-height: 50px;
}
.header .logo img {
  vertical-align: middle;
}
.header .left-logo {
  float: left;
  text-align: left;
}
.header .right-logo {
  float: right;
  text-align: right;
}
.header .nav,
.header .nav li {
  list-style: none;
  margin-left: 40px;
  margin-bottom: 0;
  padding: 0;
}
.header .nav li {
  display: inline-block;
}
.header .nav li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.main-content {
  width: 100%;
  height: 100%;
  /*font-size: 0;*/
  display: table;
  position: absolute;
  text-align: center;
  z-index: 10;
}
.main-content .content-wrapper {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
  font-size: 36px;
}
.main-content .main-link {
  margin: 0 40px;
  text-decoration: none;
  color: #fff;
  transition: all .4s;
}
.main-content .main-link:hover {
  color: transparent;
  text-shadow: 0 0 3px rgba(255,255,255,0.8);
}
.main-content .main-link.ie-fix:hover {
  color: #ccc\9;
}

.story-container {
  margin-left: 130px;
  color: #fff;
  padding-top: 20px;
}
.story-container h2 {
  margin: 40px 0 0 0;
  font-size: 36px;
  font-weight: normal;
}
.story-container p {
  max-width: 600px;
}
.story-container .bold-title {
  margin: 0;
  font-family: 'Calibri Bold';
}
.story-container .bold-title a {
  color: #fff;
  font-weight: bolder;
  text-decoration: underline;
}