@font-face {
  font-family:'Calibri-Light';
  src: url('calibril/Calibri-Light_gdi.eot');
  src: url('calibril/Calibri-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('calibril/Calibri-Light_gdi.woff') format('woff'),
    url('calibril/Calibri-Light_gdi.ttf') format('truetype'),
    url('calibril/Calibri-Light_gdi.svg#Calibri-Light') format('svg');
  /*font-weight: 100;*/
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*unicode-range: U+000D-FEFF;*/
}

body {
  font-family: 'Calibri-Light';
}
.background-slider {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
}

.background-slider .background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: opacity .4s;
  opacity: 0;
}

.background-slider .background.active {
  opacity: 1;
}

.background-slider .background img {
  display: none;
}

.content-container {
  min-height: 70px;
}
.header .header-wrapper {
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  padding: 10px 20px 0 20px;
  color: #fff;
  border-bottom: 2px solid;
}
.header .logo {
  display: inline-block;
  line-height: 50px;
}
.header .logo img {
  vertical-align: middle;
}
.header .left-logo {
  float: left;
  text-align: left;
}
.header .right-logo {
  float: right;
  text-align: right;
}
.header .nav,
.header .nav li {
  list-style: none;
  margin-left: 40px;
  margin-bottom: 0;
  padding: 0;
}
.header .nav li {
  display: inline-block;
}
.header .nav li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.main-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  margin: auto;
}
.main-content .content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  margin: auto;
  font-size: 2.2em;
}
.main-content .content-wrapper .link-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.main-content .main-link {
  margin: 0 40px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  transition: all .4s;
}
.main-content .main-link:hover {
  color: transparent;
  text-shadow: 0 0 3px rgba(255,255,255,0.8);
}
.main-content .main-link.ie-fix:hover {
  color: #ccc\9;
}

.story-container {
  margin-left: 130px;
  color: #fff;
  padding-top: 20px;
}
.story-container h2 {
  margin: 40px 0 0 0;
  font-size: 2.2em;
  font-weight: normal;
}
.story-container p {
  max-width: 600px;
  font-size: 1.3em;
}
.story-container .bold-title {
  margin: 0;
  font-family: 'Calibri Bold';
}
.story-container .bold-title a {
  color: #fff;
  font-weight: bolder;
  text-decoration: underline;
}
.content-container .footer {
  margin: 0 4px 4px 0;
  color: #fff;
  text-align: right;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  /* Retina-specific stuff here */
}
